.dialog {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.dialog-content {
    width: 100% !important;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dialog-image {
    height: 20rem;
}

.dialog-content p {
    font-weight: 500;
    font-size: 25px;
}

.dialog-content h4 {
    margin-top: 40px;
    color: #2978b5;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
}

.dialog-content h4:hover {
    background-color: #2978b5;
    color: white;
    transition: 0.3s;
}